<a href="https://colab.research.google.com/github/srustihs/ML_2023/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World')
print("Hello World")

Hello World
Hello World

Multi line print

In [ ]:
print('Hello \nworld')

Hello
world

In [ ]:
print('Hello \\nWorld')

Hello \nWorld

In [ ]:
print('Hello \tWorld')

Hello 	World

In [ ]:
print('First line \nSecond line \nThird line')

First line
Second line
Third line

In [ ]:
print('''First line
Second line
Third line''')

First line
Second line
Third line

In [ ]:
print("""First line
Second line
Third line""")

First line
Second line
Third line

In [ ]:
print('Hello,World')

Hello,World

In [ ]:
print('Hello','World')

Hello World

In [ ]:
print('Hello','World',sep='---')
print('Hello','World',sep='\t')
print('Hello','World',sep='\n')

Hello---World
Hello	World
Hello
World

Arithmetic Operations

In [ ]:
(10-5)*2

10

In [ ]:
print(10-5*2)

0

In [ ]:
print(10%6)

4

In [ ]:
3/2

1.5

In [ ]:
3//2

1

In [ ]:
print(3//2)

1

In [ ]:
round(1.5)

2

In [ ]:
round(1.555555,2)

1.56

2 to the power 3

In [ ]:
2**3

8

Variables

In [ ]:
_variable=0
variable=0
variable1=0

In [ ]:
FirstSecond=0
First_Second=0

In [ ]:
a=0
b=0
c=0

In [ ]:
a,b,c=1,2,3

In [ ]:
print(a,b,c)

1 2 3

In [ ]:
a=b=c=1
print(a,b,c)

1 1 1

Reading Input

In [ ]:
a=input()

1

In [ ]:
a=input('Enter a number: ')

Enter a number: 1

In [ ]:
print(a)

1

In [ ]:
print(type(a))

<class 'str'>

In [ ]:
b=int(a)
print(type(b))

<class 'int'>

Read 3 values from user which consists integer as well as decimal
Print type of data for all 3 values
Later convert it into integer anf floating number respectively

In [ ]:
a=input('Enter first number: ')
b=input('Enter second number: ')
c=input('Enter third number: ')

Enter first number: 10
Enter second number: 12
Enter third number: 1.3

In [ ]:
print(type(a),type(b),type(c))

<class 'str'> <class 'str'> <class 'str'>

In [ ]:
a=int(input('Enter first number: '))
b=int(input('Enter second number: '))
c=int(input('Enter third number: '))

print(type(a),type(b),type(c))

Enter first number: 1
Enter second number: 2
Enter third number: 3
<class 'int'> <class 'int'> <class 'int'>

Strings

In [ ]:
a='Hello'
print(type(a))
print(a)

<class 'str'>
Hello

In [ ]:
a='Hello'
print(a)
print(type(a))

Hello
<class 'str'>

In [ ]:
print(a[1])

e

In [ ]:
a=input('Enter a string:')

Enter a string:Srusti

In [ ]:
a=input('Enter a string:')
print(a[4])

Enter a string:Srusti
t

In [ ]:
a=input('Enter a string:')
print(a[-4])

Enter a string:Srusti
u

In [ ]:
length_str = len(a)
print(length_str - 1)

5

In [ ]:
length_str = len(a)
print(length_str - 4)

2

In [ ]:
length_str = len(a)
print(a[length_str - 1])

i

In [ ]:
print(a[0:5])

Srust

In [ ]:
print(a[:-1])

Srust

In [ ]:
print(a[::-1])

itsurS

In [ ]:
print(a[::-2])

isr

In [ ]:
print(a[::-3])

iu

In [ ]:

print(a[-5:])

rusti

WET: WRITE eVERYTHING tWICE DRY: DON'T REPEAT YOURSELF

Loops
While

In [ ]:
i=0
while i<=10:
  print(i,end='')
  i=i+1

012345678910

In [ ]:
num=[1,2,3]
print(num*2)

[1, 2, 3, 1, 2, 3]

for loop

In [ ]:
str1='Hello'
for i in str1:
  print(i,end='')

Hello

In [ ]:
str1 = 'Hello World'

for i in str1:
  print(i, end='')

Hello World

In [ ]:
str1 = 'Hello World'

for i in str1:
  if i==' ':
    break
  else:

In [ ]:
for i in range(10,20,2):
  print(i)

10
12
14
16
18

In [ ]:
str1='Hello'

for i in range(len(str1)):
  if i==0:
    pass
  else:
    print(str1[i],end='')

ello

In [ ]:
str1='Hello'

for i in range(len(str1)):
  if i==len(str1)-1:
    pass
  else:
    print(str1[i],end='')

Hell

Display all the two digit numbers where the number and its reverse are divisible by 3

In [ ]:
for i in range(12,100,3):
  print(i)

12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [ ]:
for i in range(10,100):
  temp = str(i)
  rev = temp[1]+temp[0]
  print(rev)

01
11
21
31
41
51
61
71
81
91
02
12
22
32
42
52
62
72
82
92
03
13
23
33
43
53
63
73
83
93
04
14
24
34
44
54
64
74
84
94
05
15
25
35
45
55
65
75
85
95
06
16
26
36
46
56
66
76
86
96
07
17
27
37
47
57
67
77
87
97
08
18
28
38
48
58
68
78
88
98
09
19
29
39
49
59
69
79
89
99

In [ ]:
for i in range

In [ ]:
for i in range(10,100):
  temp = str(i)
  rev = int(temp[1]+temp[0])
  if i%3==0 and rev%3==0:
   print(i,end=' ')

12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

Write a program to find the highest common factor of 2 numbers

In [ ]:
num1=int(input('num1: '))
num2=int(input('num2: '))
if num1>num2:
  smallest = num2
else:
  smallest = num1

for i in range(1,smallest+1): #2 -> 1,2
  if num1%i == 0 and num2%i==0:
    hcf = i
print(f'HCF = {hcf}')

num1: 4
num2: 3
HCF = 1

In [ ]:
l1 = ['a','b','c',1]
print(l1)
print(type(l1))

['a', 'b', 'c', 1]
<class 'list'>

In [ ]:
print(l1[:2])

['a', 'b']

In [ ]:
print(l1[1:])

['b', 'c', 1]

In [ ]:
print(l1[2:])

['c', 1]

In [ ]:
l1=[1,2,3,'a','b','c']
print(l1[0::2])

[1, 3, 'b']

In [ ]:
print(l1[::-1])

['c', 'b', 'a', 3, 2, 1]

In [ ]:
print(l1[2])

3

In [ ]:
l1[2]=4

In [ ]:
print(l1[2])

4

In [ ]:
print(l1)

[1, 2, 4, 'a', 'b', 'c']

In [ ]:
l1[1:3]=[1]

In [ ]:
print(l1)

[1, 1, 'a', 'b', 'c']

In [ ]:
l1.append('d')
print(l1)

[1, 1, 'a', 'b', 'c', 'd']

In [ ]:
l1.insert(0,'e')
print(l1)

['e', 1, 1, 'a', 'b', 'c', 'd']

In [ ]:
l2=['f','g','h']
l1.extend(l2)
print(l1)

['e', 1, 1, 'a', 'b', 'c', 'd', 'f', 'g', 'h']

In [ ]:
l2=['h','f','g']
l2.sort()
print(l2)

['f', 'g', 'h']

In [ ]:
l2.reverse()
print(l2)

['h', 'g', 'f']

In [ ]:
del l2[1]
print(l2)

['h', 'f']

In [ ]:
del l1

NameError: ignored

Using for loop,print individual items within a list

In [ ]:
l1 = ['a','b','c']
#a
#b
#c
for i in l1:
  print(i,end='')

abc

In [ ]:
print(l1)
print(*l1)

['a', 'b', 'c']
a b c

Write a program to check if a specific items is present within the list
l1=['a','b','c','d']
search_for = 'e'

if 'e' is present within l1, then print item found

In [ ]:
l1=['a','b','c','d']
search_for = input('item to search: ')
for i in l1:
  if i==search_for:
    print('Item found')
  else:
    print('Item not found')

item to search: e
Item not found
Item not found
Item not found
Item not found

In [ ]:
l1=['a','b','c','d']
search_for = input('item to search: ')
flag1=0
flag2=0
for i in l1:
  if i==search_for:
    #print('Item found')
    flag1=1
  else:
    #print('Item not found')
    flag2=1

  if flag1==1:
    print('Item is found')
  else:
    print('Item is not found')

item to search: e
Item is not found
Item is not found
Item is not found
Item is not found

1 Create a list of following numbers: 1,2,3,4,5.|
2 Add the number 6 to the end of the list.|
3 Remove the number 2 from the list.|
4 Sort the list in ascending order.|
5 Reverse the list.|
6 Print the length of the list.|
7 Print the third item in the list.Here's one way to solve the exercise in Python code:

In [ ]:
l1=['1','2','3','4','5']
print(l1)

['1', '2', '3', '4', '5']

In [ ]:
l1.append(6)
print(l1)

['1', '2', '3', '4', '5', 6]

In [ ]:
del l1[1]
print(l1)

['1', '3', '4', '5', 6]

In [ ]:
l1=['1','3','2','4','5']
l1.sort()
print(l1)

['1', '2', '3', '4', '5']

In [ ]:
l1.reverse()
print(l1)

['5', '4', '3', '2', '1']

In [ ]:
print(l1[::-1])

['1', '2', '3', '4', '5']

In [ ]:
print(len(l1))

5

In [ ]:
print(l1[::-1])

['1', '2', '3', '4', '5']

In [ ]:
l1.reverse()
print(l1)

['1', '2', '3', '4', '5']

In [ ]:
l1.reverse()
print(l1)

['5', '4', '3', '2', '1']

In [ ]:
print(l1[2])

3

In [ ]:
print(l1[-3])

3

List comprehensions are a concise way to create lists in python

In [ ]:
#create a list of squares of numbers from 0 to 9 without list comprehension
#step1:l1=[0,1,2,3,4,5,6,7,8,9]
#output:l1=[0,1,4,9,16,25,36,49,64,81]
l1=[]
for i in range(10):
  i=i**2
  l1.append(i)
print(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
l1=[]
for i in range(10):
  i=i*i
  l1.append(i)
print(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
l1=[]
for i in range(51):
  i=i**3
  l1.append(i)
print(l1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000]

In [ ]:
l1=[]
for i in range(0,10):
  i=i**3
  l1.append(i)
print(l1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
l1=[]
for i in range(51):
  i=i*i*i
  l1.append(i)
print(l1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000]

In [ ]:
#create a list of squares of numbers from 0 to 9 using list comprehension
l1=[]
for i in range(10):
  i=i**2
  l1.append(i)
print(l1)

l1=[i**2 for i in range(10)]
print(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
l1=[i**3 for i in range(10)]
print(l1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
#create a list of even numbers from givien list numbers with list comprehension
#numbers=[1,2,3,4,5,6,7]
#even_numbers=#write your code to get even number
#print(even_numbers)
#output: [2,4,6]

num=[1,2,3,4,5,6,7]
even_num=[i for i in num if i%2==0]
print(even_num)

[2, 4, 6]

ASCII value

In [ ]:
char1='a'
ord(char1)

97

In [ ]:
char1='a'
ACSII=ord(char1)

In [ ]:
char1='a'
ASCII=ord(char1)
print(char1)
print(ASCII)

a
97

In [ ]:
#ASCII(a)-ASCII(A)=97-65=32
#input:'a'-->ASCII=97
#convert to upper case:97-32

In [ ]:
#Write a program to convert uppercase to lower case and vise versa
char1='A'
ASCII=ord(char1)
print(char1)
print(ASCII)

A
65

In [ ]:
char1=input('Enter an albphabet: ')
ASCII=ord(char1)

#input is uppercase
if ASCII>64 and ASCII<91:
  print('input character is in uppercase')
  ASCII += 32
  small_case = chr(ASCII)
  print(small_case)

Enter an albphabet: A
input character is in uppercase
a

In [ ]:
char1=input('Enter an albphabet: ')
ASCII=ord(char1)

#input is uppercase
if ASCII>64 and ASCII<91:
  print('input character is in uppercase')
  ASCII += 32
  small_case = chr(ASCII)
  print(small_case)
elif ASCII>123 and ASCII<96:
  print('input character is in lowercase')
  ASCII -= 32
  small_case = chr(ASCII)
  print(upper_case)
else:
  print('invalid input')

Enter an albphabet: A
input character is in uppercase
a

LIST:Collection of items,where items are ordered,unchangeable,allow duplicates
TUPLE: Collection of items,where items are ordered,unchangeable,allow duplicates
SET: Collection of items, where items are unordered,unchangable,don't allow duplicates
DICTIONARY: Collection of items,where items are ordered,changeable and don't allow duplicates

In [ ]:
t1=(1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

If you don't mention bracket it'll default consider it as tuple

In [ ]:
t2=6,7,8
print(t2)

(6, 7, 8)

In [ ]:
t2=6,7,8
print(type(t2))

<class 'tuple'>

In [ ]:
t3=('a')
print(type(t3))

<class 'str'>

In [ ]:
t3=('a',)
print(type(t3))

<class 'tuple'>

In [ ]:
t3='a',
print(type(t3))

<class 'tuple'>

In [ ]:
#tuple containing numbers from 0 to 9
t5=tuple(range(0,10))
print(t5)
print(type(t5))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [ ]:
l1=[1,2,3]
t1=tuple(l1)
print(t1)
print(type(t1))

(1, 2, 3)
<class 'tuple'>

In [ ]:
l2=list(t1)
print(l2)
print(type(l2))

[1, 2, 3]
<class 'list'>

In [ ]:
#Items are ordered
t1=1,2,3,4
print(t1)
print(t1[2])
print(t5[2:4])
print(t1[::-1])

(1, 2, 3, 4)
3
(2, 3)
(4, 3, 2, 1)

for below program tuple is not changable

In [ ]:
t2=1,2,3,4,5
print(t2[2])
t2[2]=10

3

TypeError: ignored

To add an element to a tuple, first you need to convert it to list later modify and convert it to tuple.

In [ ]:
t1=1,2,3,4
l1=list(t1)
print(l1)
l1.append(5)
print(l1)
t1=tuple(l1)
print(t1)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

SET: Collection of items, where items are unordered,unchangable,don't allow duplicates
Sets are 10X faster compared to lists and tuples

In [ ]:
s1={1,2,3}
print(type(s1))

<class 'set'>

In [ ]:
s1={1,2,3}
print(type(s1))
for i in s1:
  print(i,end='\n')

<class 'set'>
1
2
3

Write a program to search for an item in a set
Input1: s1={1,2,3,4,5}
Input2: s2
output:Item is not found

In [ ]:
s1={1,2,3,4,5}
search_item=int(input('Enter item to search for: '))
for item in s1:
  if item == search_item:
    print('item found')
  else:
    print('Item not found')

Enter item to search for: 1
item found
Item not found
Item not found
Item not found
Item not found

In [ ]:
#set methods
s1={1,2,3}
s2={'a','b','c'}
s1.update(s2)
print(s1)

{1, 2, 3, 'a', 'b', 'c'}

In [ ]:
s1={1,2,3}
s2={'a','b','c'}
s1.update(s2)
print(s1)
s1.remove('c')
print(s1)

{1, 2, 3, 'a', 'b', 'c'}
{1, 2, 3, 'a', 'b'}

Operations of a set:
Intersection,Union,Symmetric difference

In [ ]:
s1={'a','b','c','d'}
s2={'c','d','e','f','g'}

#union
s3=s1.union(s2)
print(s3)
#intersection
s4=s1.intersection(s2)
print(s4)
#symmetric difference
s5=s1.symmetric_difference(s2)
print('s1-s2:',s5)
s6=s2.symmetric_difference(s1)
print('s2-s1:',s6)

{'a', 'd', 'b', 'c', 'e', 'f', 'g'}
{'c', 'd'}
s1-s2: {'b', 'a', 'f', 'g', 'e'}
s2-s1: {'a', 'b', 'e', 'f', 'g'}

In [ ]:
#program to find total time wasted purpousfully by internship candidates
break_end_time = '11:35'
actual_break_end_time = '11:35'
total_break_time = 15

break_end_time_sep=break_end_time.split(sep=':')
actual_break_end_time_sep=actual_break_end_time.split(sep=':')

print(break_end_time_sep[0],break_end_time_sep[1])
print(actual_break_end_time_sep[0],actual_break_end_time_sep[1])

diff_hrs=int(actual_break_end_time_sep[0])-int(actual_break_end_time_sep[0])
diff_mins=int(actual_break_end_time_sep[1])-int(actual_break_end_time_sep[1])
print('Difference in hours:',diff_hrs)
print('Difference in minutes:',diff_mins)

exceed_time = diff_hrs*60 + diff_mins
print(f'Exceeded time in mins: {exceed_time}')

exceed_time_in_perc=100*(exceed_time/total_break_time)
printf(f'Exceeded time in %: {exceed_time_in_perc}')

print('Total wasted time in hrs:{exceed_time*15*3/60}')
print('Total wasted time in hrs:{exceed_time*15*3/60}')

11 35
11 35
Difference in hours: 0
Difference in minutes: 0
Exceeded time in mins: 0

NameError: ignored

DICTIONARY: Collection of items,where items are ordered,changeable and don't allow duplicates
Items are in key:value pair

In [ ]:
d1={
    'Name':'srusti',
    'Age':21,
    'City':'Ckm'
}
print(d1)
print(d1['Name'])

{'Name': 'srusti', 'Age': 21, 'City': 'Ckm'}
srusti

In [ ]:
d2={
    2 :'Name',
    3 :'Age'
}
print(d2)

{2: 'Name', 3: 'Age'}

In [ ]:
d2={
    2 :[1,2,3],
    3 :'Age'
}
print(d2)

{2: [1, 2, 3], 3: 'Age'}

In [ ]:
print(d2[2])

[1, 2, 3]

In [ ]:
print(d2[2][2])

3

Dictionary Methods

In [ ]:
#get
d1={
    'key1':'FirstValue',
    'key2':'SecondValue'
}
print(d1.get('key1'))

#values
print(d1.values())
#keys
print(d1.keys())
#items
print(d1.items())

FirstValue
dict_values(['FirstValue', 'SecondValue'])
dict_keys(['key1', 'key2'])
dict_items([('key1', 'FirstValue'), ('key2', 'SecondValue')])

In [ ]:
d1={
    'key1':'FirstValue',
    'key2':'SecondValue'
}
#write program to make 'key1' contain SecondValue
d1['key1']='SecondValue'
print(d1)

{'key1': 'SecondValue', 'key2': 'SecondValue'}

In [ ]:
#delete
del(d1)
print(d1)

NameError: ignored

In [ ]:
d1={
    'Name':'Python',
    'LastName':'Program',
    'Age':21,
    'Module':'True'
}
for i,j in d1.items():
  print(i,j)
for i,j in d1.items():
  print(f'{i}:{j}')

Name Python
LastName Program
Age 21
Module True
Name:Python
LastName:Program
Age:21
Module:True

FUNCTION:User defined block of code which runs when called

In [ ]:
def function_name():
  #function_code

function_name(val1,val2)

In [ ]:
def print_name(name='user'):
  print(name)
print_name()

user

In [ ]:
def print_name(name='user'):
  print(name)
print_name('Python')

Python

In [ ]:
def print_name(name='user'):
  print(name)
print_name('name1','name2')

TypeError: ignored

In the above code you'll get error if you write more than one

In [ ]:
def print_name(*name):
  for i in name:
    print(name)
print_name('name1','name2','name3')

('name1', 'name2', 'name3')
('name1', 'name2', 'name3')
('name1', 'name2', 'name3')

In [ ]:
#Write a function which takes your weight on Earth and
#returns the weight on Moon and Mars
#weight =mass*acceleration due to gravity
#acceleration due to gravity = 9.81 m/s2
#weight on moon=mass*acceleration due to gravity_on_moon
#acceleration due to gravity_om_moon=1.621
#acceleration due to gravity_om_mars=3.711
def find_weight(weight):
  mass = weight/9.81

  weight_moon = mass*1.621
  weight_mars = mass*3.711
  return weight_moon,weight_mars
weight = float(input('Enter weight in kg: '))
w_moon,W_mars=find_weight(weight)
print(f'Moon:{w_moon}')
print(f'Mars:{w_mars}')

Enter weight in kg: 42
Moon:6.94006116207951

NameError: ignored